<%= render "application_layout"  do %>
<div class="page-header">
  <h2>New Application</h2>
</div>
<div class="row">
   <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
    <%= render 'form', application: @app %>
   </div>
</div>
<% end %>