$black: #000;
$black-half: rgba(0, 0, 0, .5);
$black-7: rgba(0, 0, 0, .78);
$white: #fff;
$menu-hover: rgba(221, 205, 93, 1);
$ece: #ececec;
$red: #f00;
$col1: 8.33333%;
$col2: 16.66667%;
$col3: 25%;
$col4: 33.33333%;
$col5: 41.66667%;
$col6: 50%;
$col7: 58.33333%;
$col8: 66.66667%;
$col9: 75%;
$col10: 83.33333%;
$col11: 91.66667%;
$col12: 100%;
